<?xml version="1.0"?>

<model>
  <name>Assem1</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>

  <author>
    <name>Nafy Team</name>
    <email>nafy@hospital.local</email>
  </author>

  <description>
    Assem1 hospital robot - A1M8 lidar + Intel RealSense D435i, diff drive.
  </description>
</model>
